nodered-data/flows.json
[
    {
        "id": "4544f41b59f42bee",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "771b1ac3536182da",
        "type": "tab",
        "label": "Flujo 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cce2ec89144ce898",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2ee42101a5588242",
        "type": "ui_tab",
        "name": "Datos",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9dfc24888ecfa942",
        "type": "ui_group",
        "name": "Registro 1 (Mas Reciente)",
        "tab": "2ee42101a5588242",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f27866a0af835491",
        "type": "ui_group",
        "name": "Registro 2",
        "tab": "2ee42101a5588242",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2b3db2932dd8a9af",
        "type": "http request",
        "z": "4544f41b59f42bee",
        "name": "API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://callback-iot.up.railway.app/data",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 480,
        "wires": [
            [
                "837978fd1f97fe70"
            ]
        ]
    },
    {
        "id": "eb26973f58fd9a0e",
        "type": "inject",
        "z": "4544f41b59f42bee",
        "name": "Consulta",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 480,
        "wires": [
            [
                "2b3db2932dd8a9af"
            ]
        ]
    },
    {
        "id": "837978fd1f97fe70",
        "type": "function",
        "z": "4544f41b59f42bee",
        "name": "Filtrar",
        "func": "\nconst data = msg.payload;\n\nif (!Array.isArray(data) || data.length === 0) {\n    node.warn(\"Payload no es un array o está vacío.\");\n    return msg; \n}\n\ndata.sort((a, b) => {\n\n    const dateA = new Date(a.timestamp); \n    const dateB = new Date(b.timestamp);\n    return dateB.getTime() - dateA.getTime(); // Ordena de más reciente a más antiguo\n});\n\nconst latestTwo = data.slice(0, 2);\n\nmsg.payload = latestTwo;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 480,
        "wires": [
            [
                "a301edcde78459dc",
                "bad7a1fce6d6a132",
                "ba90f194c3321a36",
                "fa36247cfe133da8",
                "dd793a3bd7e1fefc",
                "1b3340227a2bc346",
                "3a2f78a54b6f49d4",
                "7527b69476a1bf29",
                "c86adbf257b547d0"
            ]
        ]
    },
    {
        "id": "dd793a3bd7e1fefc",
        "type": "debug",
        "z": "4544f41b59f42bee",
        "name": "Llegada",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 480,
        "wires": []
    },
    {
        "id": "187e379d113a0896",
        "type": "ui_text",
        "z": "4544f41b59f42bee",
        "group": "9dfc24888ecfa942",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fecha",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1190,
        "y": 200,
        "wires": []
    },
    {
        "id": "a10e7b920a4c3a56",
        "type": "ui_gauge",
        "z": "4544f41b59f42bee",
        "name": "",
        "group": "9dfc24888ecfa942",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "35",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1210,
        "y": 340,
        "wires": []
    },
    {
        "id": "a301edcde78459dc",
        "type": "change",
        "z": "4544f41b59f42bee",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 340,
        "wires": [
            [
                "a10e7b920a4c3a56"
            ]
        ]
    },
    {
        "id": "bad7a1fce6d6a132",
        "type": "change",
        "z": "4544f41b59f42bee",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].timestamp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 200,
        "wires": [
            [
                "187e379d113a0896"
            ]
        ]
    },
    {
        "id": "5174c3e79c39aec9",
        "type": "ui_text",
        "z": "4544f41b59f42bee",
        "group": "f27866a0af835491",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fecha",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1190,
        "y": 260,
        "wires": []
    },
    {
        "id": "27ffa52d6aaab83f",
        "type": "ui_gauge",
        "z": "4544f41b59f42bee",
        "name": "",
        "group": "f27866a0af835491",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "35",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1210,
        "y": 400,
        "wires": []
    },
    {
        "id": "ba90f194c3321a36",
        "type": "change",
        "z": "4544f41b59f42bee",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[1].timestamp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 260,
        "wires": [
            [
                "5174c3e79c39aec9"
            ]
        ]
    },
    {
        "id": "fa36247cfe133da8",
        "type": "change",
        "z": "4544f41b59f42bee",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[1].temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 400,
        "wires": [
            [
                "27ffa52d6aaab83f"
            ]
        ]
    },
    {
        "id": "1b3340227a2bc346",
        "type": "change",
        "z": "4544f41b59f42bee",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 700,
        "wires": [
            [
                "d50ddc5844ba1746"
            ]
        ]
    },
    {
        "id": "3a2f78a54b6f49d4",
        "type": "change",
        "z": "4544f41b59f42bee",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[1].pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 760,
        "wires": [
            [
                "8c680d83061ac8a1"
            ]
        ]
    },
    {
        "id": "d50ddc5844ba1746",
        "type": "ui_text",
        "z": "4544f41b59f42bee",
        "group": "9dfc24888ecfa942",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Presion",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1200,
        "y": 700,
        "wires": []
    },
    {
        "id": "8c680d83061ac8a1",
        "type": "ui_text",
        "z": "4544f41b59f42bee",
        "group": "f27866a0af835491",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Presion",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1200,
        "y": 760,
        "wires": []
    },
    {
        "id": "7527b69476a1bf29",
        "type": "change",
        "z": "4544f41b59f42bee",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 540,
        "wires": [
            [
                "6b2ccbb898c019ac"
            ]
        ]
    },
    {
        "id": "c86adbf257b547d0",
        "type": "change",
        "z": "4544f41b59f42bee",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[1].humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 600,
        "wires": [
            [
                "1bd96452ca2434ba"
            ]
        ]
    },
    {
        "id": "6b2ccbb898c019ac",
        "type": "ui_text",
        "z": "4544f41b59f42bee",
        "group": "9dfc24888ecfa942",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humedad",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1200,
        "y": 540,
        "wires": []
    },
    {
        "id": "1bd96452ca2434ba",
        "type": "ui_text",
        "z": "4544f41b59f42bee",
        "group": "f27866a0af835491",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humedad",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1200,
        "y": 600,
        "wires": []
    }
]